*.o
*~
configure
options.h
cgi_wrapper/.deps/
cgi_wrapper/Makefile
cgi_wrapper/weborf_cgi_wrapper
cgi_wrappestamp-h1
config.status
config.log
config.h
cgi_wrapper/weborf_py_wrapper
cgi_wrapper/Makefile.in
build-aux/
stamp-h1
autom4te.cache/
aclocal.m4
Makefile.in
Makefile
.deps/
weborf
